* {
    font: arial;
    color: aliceblue;
}

img {
    border-radius: 50%;
}

/* ------------ Nav Bar ------------ */



/* ------------ Profile Card ------------ */
#profile {
    background-color: #141616;
    display: flex;   
    flex-direction: row;
    align-items: center;  
    padding: 1em 1em;
    white-space: pre-wrap;
}

#profile > div {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
    line-height: 2px;
}

#profile img {
    max-width: auto;
    max-height: auto;
}

body {
    background-color: rgb(17, 17, 17);
    justify-content: center;
    align-items: center;
}

body > h3 {
    font-style: bold;
}

/* ------------ Artists/Song Display ------------ */
#artist {
    color:lightgray;
    margin-top: 0%;
    font-weight: normal;
}

#artist_list {
    padding-bottom: 0.85em;
}

#artist_list > li {
    padding-top: 0.2em;
}

#artist_img {
    height: 120px;
    width: 120px;
}

#track {
    margin-bottom: 0;
}

#track_list {
    padding-bottom: 0.1em;
}

#track_img {
    border-radius: 0;
    height: 120px;
    width: 120px;
}

.row {
    display: flex;
}

.col {
    width: 50%;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
}

.left {
    float: left;
    padding-left: 20%;
}

.right {
    float: right;
    padding-right: 20%;
}


/* ------------ Stats page  ------------ */

/* ------------ Filter Buttons ------------ */

select, option {
    color: aliceblue;
}

select {
    background-color: #34cb6e;
}

.filters select {
    margin-right: 1em;
    align-items: stretch;
}

.filters {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.filters > button, select {
    width: 7em;
    height: 2.5em;
}



/* ------------ Tables ------------*/

table {
    min-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1em;
    font-weight: bold;
    border: solid white;
}

th {
    font-size: 1.1em;
    border-bottom: solid lightgray;
}


th, td {
    padding: 1.5em 2.5em;
    border-bottom: solid lightgray;
    border-top: solid lightgray;
    text-align: center;
}

td > img {
    margin-bottom: 5px;
}

/* ------------ */
footer {
    background-color: #17191a;
    color:lightgray
}



/* ------------ Screen Sizes ------------ */
@media only screen and (max-width: 750px){
    * {
        font-size: 11pt;
    }

    #profile img {
        max-width: 210px;
        max-height: 210px;
    }

    #artist_img, #track_img{
        height: 90px;
        width: 90px;
    }
    
    th {
        font-size: 1em;
    }
}

@media only screen and (max-width: 600px){
    * {
        font-size: 10pt;
    }

    #profile img {
        max-width: 140px;
        max-height: 140px;
    }

    #artist_img, #track_img{
        height: 70px;
        width: 70px;
    }

}