* {
    font: arial;
    color: aliceblue;
}


#profile {
    background-color: #141616;
    display: flex;   
    flex-direction: row;
    align-items: center;  
    padding: 1em 1em;
    white-space: pre-wrap;
}

#profile > div {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
    line-height: 2px;
}

#profile img {
    max-width: auto;
    max-height: auto;
}




#artist {
    color:lightgray;
    margin-top: 0%;
}

#track {
    margin-bottom: 0;
}

img {
    border-radius: 50%;
}

body {
    background-color: rgb(17, 17, 17);
    justify-content: center;
    align-items: center;
}

body > h3 {
    font-style: bold;
}

footer {
    background-color: #17191a;
    color:lightgray
}


@media only screen and (max-width: 750px){
    #profile img {
        max-width: 210px;
        max-height: 210px;
    }
}

@media only screen and (max-width: 600px){
    #profile img {
        max-width: 140px;
        max-height: 140px;
    }
}