{% extends 'base.html' %}
    {% block title %} Top Items {% endblock %}


{% block content %}
    <form method="POST" action="/create-playlist" class="p-4 border rounded shadow-sm">

        <!-- Playlist Name -->
        <div class="mb-3 form_text">
            <label for="playlist_name" class="form-label">Playlist Name</label>
            <input type="text" class="form-control" name="playlist_name" value="My Top Songs {{ time_range }}">   
        </div> 

        <!-- Playlist Description -->
        <div class="mb-3 form_text">
            <label for="playlist_description" class="form-label">Playlist Description</label>
            <input type="text" class="form-control" name="playlist_description" value="My new playlist">   
        </div> 

        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="public" value="True" id="checkDefault">
            <label class="form-check-label" for="public">
                Make Playlist Public
            </label>
        </div>

        <!-- Time Range -->
        <div class="mb-3">
            <label for="time_range" class="form-label">Time Range</label>
            <select class="form-select" id="time_range" name="time_range">
                <option selected disabled>Select Time Range</option>
                <option value="short_term">last 6 weeks</option>
                <option value="medium_term">last 6 months</option>
                <option value="long_term">last 1 year</option>
            </select>
        </div>

        <!-- Playlist Size -->
        <div class="mb-3 form_text">
            <label for="playlist_size" class="form-label">Number of Songs</label>
            <input 
                type="number" 
                class="form-control" 
                id="playlist_size" 
                name="playlist_size" 
                min="1" 
                max="50"
                placeholder="e.g. 25">
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-success form_btn">
            Create Playlist
        </button>

    </form>


{% endblock %}