<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">    <meta charset="utf-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your Profile</title>
  </head>

  <header>
    <!-- Profile Header -->
    {% if profile %}
      <h1>{{ profile['display_name'] }}</h1>
      <img src="{{profile['images'][0]['url']}}" id="profile" height="300" width="300">
      <p>Followers: {{ profile['followers']['total'] }}</p>
    {% endif %}
  </header>

  <body>
    <div class="container">
      <div class="row justify-content-start">
        <!-- Artists -->
        <div class="col">
          <h3>Your Top Artists:</h3>
          <ol>
            {% if artists %}
              {% for artist in artists: %}
                <img src="{{artist['images'][0]['url']}}" id="artist" height="100" width="100">
                <li>{{artist['name']}}</li>
              {% endfor %}
            {% endif %}
          </ol>
        </div>

        <!-- Tracks -->
        <div class="col">
          <h3>Your Top Tracks:</h3>
          <ol>
            {% if tracks %}
              {% for track in tracks: %}
                <img src="{{track['album']['images'][0]['url']}}" id="artist" height="100" width="100">
                <li>{{track['name']}} - {{track['artists'][0]['name']}}</li>
              {% endfor %}
            {% endif %}
          </ol>
        </div>
      </div>
    </div>
    <!-- Genres -->
  </body>

  <footer>
    <p></p>
  </footer>
</html>