{% extends 'base.html' %}
    {% block title %} Top Items {% endblock %}


{% block content %}
    <!-- Button Filters -->
    <div class="filters">
        <!-- Item Type -->
        <div>
            <select class="form-select" id="item-type" aria-label="Default select example">
                <option selected>Item Type</option>
                <option value="artists">Artists</option>
                <option value="tracks">Tracks</option>
            </select>
        <!-- Time Range -->
        <div>
            <select class="form-select" id="time-range" aria-label="Default select example">
                <option selected>Time Range</option>
                <option value="short_term">Short-Term (last 6wks)</option>
                <option value="medium_term">Medium-Term (last 6mo)</option>
                <option value="long_term">Long-Term (last 1yr)</option>
            </select>
        </div>
        <!-- Filter Button -->
        <div>
            <button type="button" class="btn btn-warning" onclick=getFilterOptions()>Filter</button>
            <script>
                function getFilterOptions() {
                    // Gets values from select
                    var tr = document.getElementById('time-range');
                    var it = document.getElementById('item-type');

                    var time_range = tr.value;
                    var item_type = it.value;
                    
                    // Checks if a option hasn't been selected
                    // Sets the filter option to the one in the current url
                    if (item_type == 'Item Type') {
                        let current_url = get_current_url_options();
                        item_type = current_url[0];
                    };
                    
                    if (time_range == 'Time Range') {
                        let current_url = get_current_url_options();
                        time_range = current_url[1];
                    };

                    // Loads new page with options from select
                    let url = `${script_root}/stats/${item_type}/${time_range}`
                    window.location.replace(url);
                };
                
                // Returns the parameters of the current url/path
                function get_current_url_options() {
                    // Gets current path
                    let current_url = window.location.href;
                    // Returns array containing the url params
                    let url_options = current_url.split('/');
                    return url_options.slice(-2);
                }
            </script>
        </div>
    </div>
    

    <table>
        <thead>
            <tr>
                <th>Rank</th>

                {% if item_type == 'artists' %}
                    <th>Artist</th>
                    <th>Followers</th>
                    <th>Popularity</th>
                    <th>Genres</th>
                {% else %}
                    <th>Song</th>
                    <th>Album</th>
                    <th>Popularity</th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <!-- Artists statistics -->
                    {% if item_type == 'artists' %}
                        <td>
                            <img src="{{item.images[0]['url']}}" id="artist_img" height="100" width="100">
                            <br>
                            {{item.name}}
                        </td>
                        <td>{{"{:,}".format(item.followers.get('total'))}}</td>
                        <td>{{item.popularity}}</td>
                        {% if item.genres[0] == Null %}
                            <td>No Genres Found</td>
                        {% else %}
                            <td>{{item.genres[:3]|join(", ")}}</td>
                        {% endif %}

                    <!-- Track Statistics -->
                    {% else %}
                        <td>
                            <img src="{{item.album['images'][0]['url']}}" id="track_img" height="100" width="100">
                            <br>
                            {{item.name}}
                            <br>
                            <div id="artist">
                                {{item.artists[0]['name']}}
                            </div>
                        </td>
                        <td>{{item.album['name']}}</td>
                        <td>{{item.popularity}}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}

