{% extends 'base.html' %}
    {% block title %} Top Items {% endblock %}


{% block content %}
    <!-- Button Filters -->
    <div class="filters">
        <!-- Item Type -->
        <div class="btn-group dropdown" id="item-type">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Data Type
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Artists</a>
                <a class="dropdown-item" href="#">Tracks</a>
            </div>
        </div>
        <!-- Time Range -->
        <div class="btn-group dropdown" id="time-range">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Time Range
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Short-Term (last 6wk)</a>
                <a class="dropdown-item" href="#">Medium-Term (last 6mo)</a>
                <a class="dropdown-item" href="#">Long-Term (last 1yr)</a>
            </div>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-warning" onclick="">Filter</button>
        </div>
    </div>
    

    <table>
        <thead>
            <tr>
                <th>Rank</th>

                {% if item_type == 'artists' %}
                    <th>Artist</th>
                    <th>Followers</th>
                    <th>Popularity</th>
                    <th>Genres</th>
                {% else %}
                    <th>Song</th>
                    <th>Album</th>
                    <th>Artist</th>
                    <th>Popularity</th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ loop.index }}</td>
                    {% if item_type == 'artists' %}
                        <td>{{item.name}}</td>
                        <td>{{item.followers.get('total')}}</td>
                        <td>{{item.popularity}}</td>
                        <td>{{item.genres}}</td>

                    {% else %}
                        <td>{{item.name}}</td>  
                        <td>{{item.album['name']}}</td>
                        <td>{{item.artists[0]['name']}}</td>
                        <td>{{item.popularity}}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}