{% extends 'base.html' %}
    {% block title %} Top Items {% endblock %}


{% block content %}
    <!-- Button Filters -->
    <div class="filters">
        <!-- Item Type -->
        <div>
            <select class="form-select" id="item-type" aria-label="Default select example">
                <option selected>Item Type</option>
                <option value="artists">Artists</option>
                <option value="tracks">Tracks</option>
            </select>
        <!-- Time Range -->
        <div>
            <select class="form-select" id="time-range" aria-label="Default select example">
                <option selected>Time Range</option>
                <option value="short_term">Short-Term (last 6wks)</option>
                <option value="medium_term">Medium-Term (last 6mo)</option>
                <option value="long_term">Long-Term (last 1yr)</option>
            </select>
        </div>
        <!-- Filter Button -->
        <div>
            <button type="button" class="btn btn-warning" onclick=getFilterOptions()>Filter</button>
            <script>
                function getFilterOptions() {
                    // Gets values from select
                    var tr = document.getElementById('time-range');
                    var it = document.getElementById('item-type');

                    var time_range = tr.value;
                    var item_type = it.value;

                    // Loads new page with options from select
                    let url = `${script_root}/stats/${item_type}/${time_range}`
                    window.location.replace(url);
                };
            </script>
        </div>
    </div>
    

    <table>
        <thead>
            <tr>
                <th>Rank</th>

                {% if item_type == 'artists' %}
                    <th>Artist</th>
                    <th>Followers</th>
                    <th>Popularity</th>
                    <th>Genres</th>
                {% else %}
                    <th>Song</th>
                    <th>Album</th>
                    <th>Artist</th>
                    <th>Popularity</th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ loop.index }}</td>
                    {% if item_type == 'artists' %}
                        <td>{{item.name}}</td>
                        <td>{{item.followers.get('total')}}</td>
                        <td>{{item.popularity}}</td>
                        <td>{{item.genres}}</td>

                    {% else %}
                        <td>{{item.name}}</td>  
                        <td>{{item.album['name']}}</td>
                        <td>{{item.artists[0]['name']}}</td>
                        <td>{{item.popularity}}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}

